
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
  }
  
  
  header {
    background-color: #111;
    padding: 20px 0;
    color: white;
  }
  
  .container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  
  .hero {
    background-image: linear-gradient(to right, #000000c0, #111111f0), url("https://via.placeholder.com/1200x400?text=SuperCarros+Web");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 80px 20px;
  }
  
  .hero h2 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .hero p {
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 2rem;
  }
  
  
  .btn {
    margin-top: 2rem;
    display: inline-block;
    background: linear-gradient(135deg, #ff3b3b, #cc0000);
    color: white;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
  }
  
  
  .btn:hover {
    background: linear-gradient(135deg, #cc0000, #990000);
  transform: scale(1.05);
  }
  
  .btn_corvette {
    margin-top: 2rem;
    display: inline-block;
    background: linear-gradient(135deg, #ff3b3b, #cc0000);
    color: white;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .btn:hover {
    background: linear-gradient(135deg, #cc0000, #990000);
  transform: scale(1.05);
  }
  
  .btn_mustang{
    margin-top: 2rem;
    display: inline-block;
    background: linear-gradient(135deg, #ff3b3b, #cc0000);
    color: white;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
  }

  
  .btn:hover {
    background: linear-gradient(135deg, #cc0000, #990000);
  transform: scale(1.05);
  }
  
  .btn_lambo{
    margin-top: 2rem;
    display: inline-block;
    background: linear-gradient(135deg, #ff3b3b, #cc0000);
    color: white;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
  }

  .btn:hover {
    background: linear-gradient(135deg, #cc0000, #990000);
    transform: scale(1.05);
  }
  
  .btn_ferrari{
    margin-top: 3rem;
    display: inline-block;
    background: linear-gradient(135deg, #ff3b3b, #cc0000);
    color: white;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
  }

  
  .btn:hover {
    background: linear-gradient(135deg, #cc0000, #990000);
  transform: scale(1.05);
  }
  
  .btn_mclaren{
    margin-top: 3rem;
    display: inline-block;
    background: linear-gradient(135deg, #ff3b3b, #cc0000);
    color: white;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
  }

  
  .btn:hover {
    background: linear-gradient(135deg, #cc0000, #990000);
  transform: scale(1.05);
  }
  
  .btn_camaro{
    margin-top: 2rem;
    display: inline-block;
    background: linear-gradient(135deg, #ff3b3b, #cc0000);
    color: white;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
  }

  
  .btn:hover {
    background: linear-gradient(135deg, #cc0000, #990000);
  transform: scale(1.05);
  }
  
  .btn_chevy{
    margin-top: 2rem;
    display: inline-block;
    background: linear-gradient(135deg, #ff3b3b, #cc0000);
    color: white;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
  }

  
  .btn:hover {
    background: linear-gradient(135deg, #cc0000, #990000);
    transform: scale(1.05);
  }
  
  .btn_dodge{
    margin-top: 2rem;
    display: inline-block;
    background: linear-gradient(135deg, #ff3b3b, #cc0000);
    color: white;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
  }

  
  .btn:hover {
    background: linear-gradient(135deg, #cc0000, #990000);
    transform: scale(1.05);
  }
  
  .btn_supra{
    margin-top: 2rem;
    display: inline-block;
    background: linear-gradient(135deg, #ff3b3b, #cc0000);
    color: white;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
  }

  
  .btn:hover {
    background: linear-gradient(135deg, #cc0000, #990000);
    transform: scale(1.05);
  }
  
  .btn_f40{
    margin-top: 2rem;
    display: inline-block;
    background: linear-gradient(135deg, #ff3b3b, #cc0000);
    color: white;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
  }

  .btn:hover {
    background: linear-gradient(135deg, #cc0000, #990000);
    transform: scale(1.05);
  }
  
  
  .carros {
    padding: 50px 20px;
    text-align: center;
  }
  
  .carros h2 {
    margin-bottom: 30px;
  }
  

  .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  
  .carro {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 20px;
    width: 300px;
    transition: transform 0.3s;
  }
  
  .carro:hover {
    transform: scale(1.03);
  }

  .carro img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  footer {
    background-color: #111;
    color: #ccc;
    text-align: center;
    padding: 20px;
  }
  
  /* Responsividade */
@media (max-width: 950px) {
  .container {
    flex-direction: column;
  }
}
  
  