* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #222;
  color: #333;
}

header {
  background-color: #111;
  padding: 20px 0;
  color: white;
}

.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 50px;
  background: #111;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}
  
.login {
  background-color: #222;
  color: white;
  padding: 70px 20px;
  text-align: center;
  align-items: center;
}

.login form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  gap: 15px;
}

.login input,
.login textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.btn {
  display: inline-block;
  background: linear-gradient(135deg, #ff3b3b, #cc0000);
  color: white;
  padding: 10px 20px;
  border: none;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background: linear-gradient(135deg, #cc0000, #990000);
  transform: scale(1.05);
}


.register-link {
  margin-top: 1rem;
  font-size: 0.9;

}

.register-link a{
  color: #cc0000;
  text-decoration: none;
  font-weight: bold;
}

.register-link a:hover {
  text-decoration: underline;
}

footer {
  background-color: #111;
  color: #ccc;
  text-align: center;
  padding: 20px;
  left: -20px;
  margin-top: 4rem;
}

/* Responsividade */
@media (max-width: 950px) {
.container {
  flex-direction: column;
}
}