
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    color: #333;
  }
  
    
  header {
    background-color: #111;
    padding: 20px 0;
    color: white;
  }
  
  .containerheader {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  
  .container {
    max-width: 1200px;
    margin: 60px auto;
    padding: 20px;
  }
  
  
  .car-card {
    background: white;
    border-radius: 18px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
    padding: 35px;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .car-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 28px rgba(0,0,0,0.25);
  }
  
  
  .car-image img {
    width: 100%;
    border-radius: 14px;
    object-fit: cover;
  }
  
  
  .car-info h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #111;
  }
  
  .car-info ul {
    list-style: none;
    margin-bottom: 25px;
  }
  
  .car-info ul li {
    background: #f9f9f9;
    padding: 12px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 0.95rem;
  }
  
  .car-info ul li strong {
    color: #ff3b3b;
  }
  

  .btn {
    display: inline-block;
    background: linear-gradient(135deg, #ff3b3b, #cc0000);
    color: white;
    padding: 14px 153px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
  }
  
  .btn:hover {
    background: linear-gradient(135deg, #cc0000, #990000);
    transform: scale(1.05);
  }
  
  footer {
    background-color: #111;
    color: #ccc;
    text-align: center;
    padding: 20px;
    margin-top: 4rem;
  }
  
 
  @media (max-width: 900px) {
    .car-card {
      grid-template-columns: 1fr;
      text-align: center;
    }
  
    .car-info ul li {
      text-align: left;
    }
  }
  