
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
}

header {
    background-color: #111;
    padding: 20px 0;
    color: white;
  }
  
  .container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
.contato {
  padding: 60px 0;
  background: #222;
}

.contato-container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.contato-info h2 {
  color: white;
  font-size: 28px;
  margin-bottom: 15px;
}

.contato-info p {
  line-height: 1.6;
  margin-bottom: 15px;
  color: #fff;
}

.info-box p {
  display: flex;
  align-items: center;
  margin: 8px 0;
  color: #fff;
}

.formulario h3 {
  color: white;
  margin-bottom: 15px;
}

form {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

label {
  margin: 10px 0 5px;
  font-weight: 600;
}

input, textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  resize: none;
}

textarea {
  min-height: 120px;
}

.btn {
  margin-top: 15px;
  background: linear-gradient(135deg, #ff3b3b, #cc0000);
  color: #ffffff;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: linear-gradient(135deg, #cc0000, #990000);
  transform: scale(1.05);
}

.register-link {
  margin-top: 1rem;
  font-size: 0.9;

}

.register-link a{
  color: #cc0000;
  text-decoration: none;
  font-weight: bold;
}

.register-link a:hover {
  text-decoration: underline;
}

footer {
  background-color: #111;
  color: #ccc;
  text-align: center;
  padding: 20px;
}

@media (max-width: 768px) {
  .contato-container {
    grid-template-columns: 1fr;
  }
}

